<h1 >Posts</h1>
<% if !@posts.empty? %>
	<!-- If posts are available... -->
	<ul class='list-group'>
		<% @posts.each do |post| %>
			<li class='list-group-item'>
				<%= link_to post.title, post %>
			</li>
		<% end %>
	</ul>
<% else %>
	<!-- If no posts are available... -->
	<p>Whoops! It looks like there aren't any posts to display.</p>
<% end %>
<br>
<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
